@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding:0;
  height: 100%;
  background: #F1F1F1; 
  
}

#start {
  height: 100%;
  margin: 0;
  background: #F1F1F1;
  
}

.ml-4 li {
  margin-bottom: 10px; /* Adds space between bullet points */
}

a {
  color: inherit;
  text-decoration: none;
  margin: 30px;
}

.sect-1 {
  background: #F1F1F1;
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.section-1 {
  height: 50%; /* Adjust height based on your design */
  opacity: 0; /* Default state for fade-out */
  /*transition: opacity 2s ease-in-out; */
  /*background: #B084D2; */
}


.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
}


.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-semi {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */




